# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

In [2]:
pwd

'C:\\Users\\Alvaro Camacho\\Desktop\\Ironhack\\Week 2\\week2_day4\\Dataframe-Calculations\\your-code'

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [26]:
# your code here
orders = pd.read_csv('C:\\Users\\Alvaro Camacho\\Desktop\\Ironhack\\Week 2\\week2_day4\\Dataframe-Calculations\\data/orders_sample.csv')
orders.describe()

,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,CustomerID,amount_spent
count,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000
mean,560666.072000,2010.932950,7.640400,3.642250,12.710600,12.602900,2.986745,15277.991450,21.819121
std,13133.570887,0.250115,3.411579,1.926045,2.263693,42.680081,5.818156,1719.752345,76.324074
min,536367.000000,2010.000000,1.000000,1.000000,7.000000,1.000000,0.040000,12347.000000,0.190000
25%,549257.000000,2011.000000,5.000000,2.000000,11.000000,2.000000,1.250000,13883.000000,4.950000
50%,561926.000000,2011.000000,9.000000,4.000000,13.000000,6.000000,1.950000,15144.000000,11.900000
75%,572213.250000,2011.000000,11.000000,5.000000,14.000000,12.000000,3.750000,16790.000000,19.800000
max,581587.000000,2011.000000,12.000000,7.000000,20.000000,2880.000000,549.340000,18287.000000,4401.000000

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [34]:
# your code here
df = orders.groupby('CustomerID').agg({'amount_spent': 'sum'}).reset_index()
#Check the total amount spent by each customer
df

      CustomerID  amount_spent
0          12347        149.90
1          12348         75.36
2          12349        100.09
3          12350         10.20
4          12352        126.48
...          ...           ...
3321       18276         25.20
3322       18278         29.70
3323       18280         23.60
3324       18283         78.08
3325       18287        209.52

[3326 rows x 2 columns]

In [35]:
q75 = df['amount_spent'].quantile(0.75)
q95 = df['amount_spent'].quantile(0.95)

def group(x):
    if x['amount_spent'] >= q75:
        return('VIP')
    elif x['amount_spent'] >= q75 and x['amount_spent'] < q95:
        return('Preferred')
    return('Regular')

df['Group'] = df.apply(lambda x: group(x), axis=1)
classification_df = df[['CustomerID','Group']]
classification_df

      CustomerID    Group
0          12347      VIP
1          12348  Regular
2          12349  Regular
3          12350  Regular
4          12352      VIP
...          ...      ...
3321       18276  Regular
3322       18278  Regular
3323       18280  Regular
3324       18283  Regular
3325       18287      VIP

[3326 rows x 2 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [86]:
# your code here
best_customer = pd.merge(orders, classification_df, on='CustomerID', how='left')
df1 = best_customer[['CustomerID','Country','Group']].sort_values(by='Group')
vip_top = df1.loc[df1.Group=='VIP',:]
vip_top.Country.value_counts().head(1)

United Kingdom    10094
Name: Country, dtype: int64

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [102]:
# your code here
mask1 = df1.loc[df1.Group =='VIP',:]
mask1.shape
#vip_top.Country.value_counts().head(1)

(11732, 3)

In [103]:
mask2 = df1.loc[df1.Group =='Preferred',:]
mask2.shape

(0, 3)

In [106]:
#Since there are no Preferred customers in the dataset, we can affirm that the number of 
#VIP+Preferred Customers combined equals to the number of VIP customers. Therefore:
vip_and_preferred = vip_top.Country.value_counts().head(1)
vip_and_preferred

United Kingdom    10094
Name: Country, dtype: int64